/* Sample color palette */

:root {
  --yellow: #fecf33;
  --light-orange: #fdbd39;
  --peach: #ee6723;
}

/* Text styles */

H1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #3b3f47;
}

.movie-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.4px;
}

H3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #6b6b6b;
}

.movie-description {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.5px;
  text-align: left;
  color: #6b6b6b;
}

.more {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-align: right;
  color: #276cf2;
  text-decoration: none;
}

#movieapp {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.active {
  /*font-weight: bold;*/
}

.active-star {
  color: #ffcc24;
}

.nav-circle {
  cursor: pointer;
  margin: 6px;
  color: #979797;
}

.in-theaters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.movie-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 343px;
  height: 156px;*/
  border-radius: 2.5px;
  background-color: #f2f3f5;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-poster {
  background-color: #bd10e0;
}

.header {
  margin-left: 16px;
  margin-right: 16px;
}