<!DOCTYPE html>
<html>

<head>
  <title>Movie Widget</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <section id="movieapp" tabindex="-1" v-on:touchstart="mouseDown" v-on:touchend="mouseUp" v-on:keydown.left="navLeft" v-on:keydown.right="navRight">
    <header class="header">
      <div>
        <h1>In Theaters</h1>
        <a v-bind:href="'http://www.imdb.com/title/' + getMovieProperty('imdbID')" target="_blank" class="more">View More</a>
      </div>
      <h3>Top Movies This Week</h3>
    </header>
    <section class="movie-card">
      <div class="movie-info">
        <div class="movie-title">{{ getMovieProperty('Title') }}</div>
        <div class="movie-description">{{ getMovieProperty('Plot') }}</div>
        <div class="ratings">
          {{ getMovieProperty('imdbRating') }} [<span v-for="n in getMovieRating()" v-bind:class="{ 'active-star': (n === 1) }">*</span>]
        </div>
      </div>
      <div class="movie-poster">
        <img v-bind:src="getMovieProperty('Poster')">
      </div>
    </section>
    <nav class="carousel">
      <ul>
        <li v-for="(movie, i) in movies">
          <a v-bind:class="{ active: (i === movieIdx) }" v-on:click="navTo(i)" class="nav-circle">○<!--●--></a>
        </li>
      </ul>
    </nav>
    <!--<div class="nav-buttons">
      <button v-on:click="navLeft"><</button>
      <button v-on:click="navRight">></button>
    </div>-->
    <!--<pre>{{ movies[movieIdx] }}</pre>-->
  </section>

  <script src="lib/vue.js"></script>
  <script src="js/app.js"></script>
</body>

</html>